<ng-template #rowTemplate>
	<tr>
		<ng-container *ngFor="let cell of cells; index as i">
			<ng-container *ngIf="i === 0 && node">
				<div [style.display]='flex' [style.marginLeft.rem]="node.depth * 1.3">
					<div [style.paddingRight]="'0.5rem'" [style.paddingTop]="'0.2rem'"
						*ngIf="node.hasChildren(); else leafSpace">
						<button class="btn btn-icon btn-link btn-sm"
                  style="margin: 0; padding: 0;"
                 (click)="onExpandClick(node)"><clr-icon [attr.shape]="node.expanded ? 'caret down' : 'caret right'" ></clr-icon></button>
					</div>
					<ng-template #leafSpace>
						<div [style.marginLeft]="'1.1rem'"></div>
					</ng-template>
					<clr-checkbox-wrapper>
						<input type="checkbox" clrCheckbox value="option1" name="options" />
						<label>
                  <clr-icon [attr.shape]="node.icon" size="16"></clr-icon>
                  {{node.name}}
                  </label>
					</clr-checkbox-wrapper>
				</div>
			</ng-container>
			<ng-container *ngTemplateOutlet="cell.cellTemplate">
			</ng-container>
		</ng-container>
	</tr>
</ng-template>